controller_server:
  ros__parameters:
    controller_frequency: 20.0
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.001
    min_theta_velocity_threshold: 0.001

    progress_checker_plugin: "progress_checker"
    goal_checker_plugin: "goal_checker"
    controller_plugins: ["FollowPath"]

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0

    goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.25
      stateful: True

    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"
      debug_trajectory_details: False

      min_vel_x: 0.0
      max_vel_x: 0.25
      min_vel_y: 0.0
      max_vel_y: 0.0
      max_vel_theta: 1.0
      min_speed_xy: 0.0
      max_speed_xy: 0.25
      min_speed_theta: 0.0

      acc_lim_x: 0.5
      acc_lim_y: 0.0
      acc_lim_theta: 0.5

      decel_lim_x: -0.5
      decel_lim_y: 0.0
      decel_lim_theta: -0.5

      vx_samples: 20
      vy_samples: 1
      vtheta_samples: 20

      sim_time: 1.7
      linear_granularity: 0.05
      angular_granularity: 0.025

      tracking_goal_tolerance: 0.5

      critics:
        - RotateToGoal
        - Oscillation
        - ObstacleFootprint
        - GoalAlign
        - PathAlign
        - PathDist
        - GoalDist

      RotateToGoal:
        scale: 1.0

      Oscillation:
        scale: 1.0

      ObstacleFootprint:
        scale: 0.02

      GoalAlign:
        scale: 24.0

      PathAlign:
        scale: 32.0

      PathDist:
        scale: 32.0

      GoalDist:
        scale: 24.0
